* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 color: $gray;
 font-family: $ff-s;
 line-height: 1.6;
 font-size: 14px;
}
img {
 max-width: 100%;
}
h1, h2, p {
 margin-bottom: 20px;
}
h1 {
 color: $dark-gray;
 line-height: 1;
 font-size: 35px;
}

h2 {
 @include sans-serif($fs: 35px);
}
 
h3 {
 color: $blue;
 font-size: 30px;
}
h4 {
 font-size: 28px;
 color: $dark-gray;
 font-family: $ff-ss;
 text-transform: uppercase;
 letter-spacing: 4px;
}