body {
 color: $gray;
 font-family: $ff-s;
 line-height: 1.6;
}
h1 {
 color: $dark-gray;
 line-height: 1;
 font-size: 45px;
}
.highlight {
 color: $blue;
 font-family: $ff-ss;
 display: block;
 font-size: 88px;
 letter-spacing: $letter-spacing;
}
h2 {
 font-size: 32px;
 letter-spacing: $letter-spacing;
 color: $dark-gray;
 line-height: 1;
 font-family: $ff-ss;
}