* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 color: $gray;
 font-family: $ff-s;
 line-height: 1.6;
 font-size: 14px;
}
h1, h2, p {
 margin-bottom: 20px;
}
h1 {
 color: $dark-gray;
 line-height: 1;
 font-size: 35px;
}
.highlight {
@include sans-serif($fs: 88px, $color: $blue);
 display: block;
}
h2 {
 @include sans-serif($fs: 35px);
}