.intro {
 display: flex;
 color: rgba($white, 0.7)
}
 h2 {
  color: $white;
 }
.intro-title::after {
   content: "";
  display: block;
  width: 20%;
  height: 1px;
  background: $white;
  margin: 20px auto 10px;
  }

.intro-middle {
 background: $dark-blue;
 padding: 4%;
 text-align: center;
 min-width: 200px;
}
.intro-left img,
.intro-right img {
 object-fit: cover;
 min-height: 100%;
 min-width: 100%;
 display: block; /* to eliminate white spaces */
}