@mixin container($width: 90%, $max-width: 900px) {
 width: $width;
 margin: 0 auto;
 max-width: $max-width;
}

@mixin mq($width:768px) { /* for MediaQuery */
 @media (min-width: $width) {
  @content;
 }

}